.updateUserFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.updateUserForm {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.submitButton {
    width: 100%;
}